---
const locale = Astro.currentLocale;
---

<section class="section section-demo-post">
  <div class="container grid gap-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 group">
      <div>
        <h2 class="h1">Passer du bruit à la nuance</h2>
      </div>
      <div class="grid gap-4">
        <p>Une plateforme dédiée au transfert de connaissances rigoureux et neutre — pour que les décisions reposent sur le savoir, pas sur la polarisation.</p>
        <div class="flex flex-wrap gap-x-6 gap-y-3 justify-between items-center">
          <a
            href={`/${locale}/blog`}
            class="btn btn-outline rounded-full py-1 px-4 h-auto hover:bg-black hover:text-white uppercase"
          >
            Lire les articles
          </a>
        </div>
      </div>
    </div>
  </div>
</section>