---
const { title } = Astro.props;
---

<section class="section section-hero my-5!">
  <div class="container">
    <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold uppercase">
      {title}
    </h1>
  </div>
</section>