---
const locale = Astro.currentLocale;
---

<section class="section section-podcasts">
  <div class="container">
    <div class="border-t pt-8">
      <div class="flex flex-wrap gap-4 justify-between items-center">
        <h2 class="h1">Podcast</h2>
        <a
          href={`/${locale}/podcast`}
          class="btn btn-link text-inherit uppercase no-underline group p-0"
        >
          Tous les épisodes
          <i class="fa-solid fa-arrow-right group-hover:translate-x-1" />
        </a>
      </div>
      <div class="mt-10">
        <p class="text-lg">Les épisodes arrivent bientôt. Restez à l'écoute!</p>
      </div>
    </div>
  </div>
</section>